VITE_FIREBASE_API_KEY=dev
VITE_FIREBASE_AUTH_DOMAIN=dev.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dev
VITE_FIREBASE_STORAGE_BUCKET=dev.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=dev
VITE_FIREBASE_APP_ID=dev
VITE_API_BASE_URL=http://localhost:8080

VITE_LIFF_ID=dev
VITE_USE_MOCK_API=true
VITE_LIFF_DEV=true
